<!DOCTYPE html>
<html> 
<head> 
  <title>Jobshaker {% block title %}home{% endblock %}</title> 

  <!-- {{ STATIC_URL }} -->
  <link href="/static/main.css" media="screen" rel="stylesheet" type="text/css" />

	<link type="text/css" href="/static/css/sunny/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="/static/main.js"></script>
	
  {% block head %}{% endblock %}
  
</head> 
<body> 
 
  <h1 class="logo" onClick="document.location.href='/'">jobshaker</h1> 
  
  <h2 class="headline">find the right partner&nbsp;for&nbsp;job&nbsp;sharing or building&nbsp;your&nbsp;business</h2> 
  
	{% if user.is_authenticated %}
  	<div class="menu top">
			<a href="/" class="home button{{ is_home }}">Home</a>
			<a href="/userprofile/replies" class="posts button{{ is_posts }}">My posts</a>
			<a href="/userprofile" class="profile button{{ is_profile }}">My profile</a>
	  </div> 
	{% else %}
		{% if not is_at_home %}
	  	<div class="menu top">
				<a href="/" class="home button">Home</a>
				<a href="/accounts/register" class="button">Register</a>
			 	<a href="/login" class="login button">Login</a>
		  </div> 
		{% endif %}
	{% endif %}
  
  <div class="container" id="content"> 
	
	{% block content %}{% endblock %}
  
  </div> 
 
  <div class="menu footer"> 
    <a href="/about" class="about button"><em>about</em> jobshaker</a>
    <a href="/links" class="links button">useful <em>links</em></a>
    <a href="/policy" class="policy button"><em>privacy</em> policy</a>
  </div> 
 
</body>
</html>
