<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>OpenShaker {% block title %}home{% endblock %}</title> 
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- {{ STATIC_URL }} -->
  <link href="/static/css/sunny/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" />	
  <link href="/static/main.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/static/css/feedbackBadge.css" media="screen" rel="stylesheet" type="text/css" />
  
  <script src="/static/js/lib/jquery-1.7.1.min.js"></script>
  <script src="/static/js/lib/jquery-ui-1.8.17.custom.min.js"></script>
  <script src="/static/js/lib/feedbackBadge.min.js"></script>
  <script src="/static/js/main.js"></script>
  
  {% block head %}{% endblock %}  

</head> 
<body> 
 
  <h1 class="logo" onClick="document.location.href='/'">OpenShaker</h1> 
  
  <h2 class="headline">Connect to projects and people in the Open Knowledge community</h2> 
  
	{% if user.is_authenticated %}
  	<div class="menu top">
			<a href="/" class="home button">Home</a>
			<a href="/userprofile/replies" class="posts button">My posts</a>
			<a href="/userprofile" class="profile button">My profile</a>
	  </div> 
	{% else %}
		{% if not is_at_home %}
	  	<div class="menu top">
				<a href="/" class="home button">Home</a>
				<a href="/accounts/register" class="button">Register</a>
			 	<a href="/login" class="login button">Login</a>
		  </div> 
		{% endif %}
	{% endif %}
    
  {% if messages %}
	<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				{{ message }}
			</li>
			{% endfor %}
	</ul>
	{% endif %}
	
  <div class="container" id="content">
		{% block content %}{% endblock %} 
  </div> 
 
  <div class="menu footer"> 
    <a href="/about" class="about button"><em>about</em> OpenShaker</a>
    <a href="/links" class="links button">useful <em>links</em></a>
    <a href="/policy" class="policy button"><em>privacy</em> policy</a>
    <a href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog (powered by UserVoice)" class="help button"><em>help</em> &amp; feedback</a>
  </div>
  
  <a href="http://www.surveymonkey.com/s/5V8RJGN" title="Your feedback is important!" class="feedback" target="_blank"><span>Open Knowledge Survey</span><img class="fancybeta" src="/static/images/fancy-beta.png"></a>
  
<script type="text/javascript">
  // User Voice widget
  var uvOptions = {};
  (function() {
	var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/1wRt0CVfEUhctUmdBzpRwQ.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

</body>
</html>
