<!DOCTYPE html>
<html> 
<head> 
  <title>Jobshaker {% block title %}home{% endblock %}</title> 

  <link href="{{ STATIC_URL }}main.css" media="screen" rel="stylesheet" type="text/css" />

</head> 
<body> 
 
  <h1 class="logo" onClick="document.location.href='/'">jobshaker</h1> 
  
  <h2 class="headline">find the right partner&nbsp;for&nbsp;job&nbsp;sharing or building&nbsp;your&nbsp;business</h2> 
  
  <div class="menu top">
    <button class="create"><a href="/admin">Create profile</a></button>

    <button class="login"><a href="/admin">Sign in</a></button>
  </div> 
  
  <div class="container" id="content"> 
	
	{% block content %}{% endblock %}
  
  </div> 
 
  <div class="menu bottom"> 
    <button class="about"><em>about</em> jobshaker</button> 
    <button class="links">useful <em>links</em></button> 
    <button class="policy"><em>privacy</em> policy</button> 
  </div> 
 
</body>
</html>