{% extends "base.html" %}
{% load mytags %}

{% block title %}- {{ userprofile.nickname }}{% endblock %}

{% block content %}
<h3>Jobshaker Profile</h3>
<div class="box"><div class="whitebox">
	<h4>My info</h4>
	<p>Nickname: {{ userprofile.nickname }}</p>
	<p>Location: {{ userprofile.location }}</p>
	<p>Profession: {{ userprofile.profession }}</p>
	<a href="/accounts/edit/"><button>EDIT</button></a>
</div><div class="whitebox">
	<h4>My jobshakes</h4>
	<ul class="myposts">
	{% for post in posts %}
		<li>
			<a href="/posts/{{ post.id }}">{{ post }}</a>
		</li>
	{% endfor %}
	</ul>
	<a href="/posts/new">
    	<button class="create">START</button>
	</a>
</div><div class="whitebox">
	<h4>Photo</h4>
	{% show_gravatar userprofile.user.email 64 %}
	<p>(<a href="https://en.gravatar.com/site/signup/">Gravatar</a>)</p>
</div><div class="whitebox">
	<h4>Account</h4>
	<p>Name: {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</p>
	<p>Login: {{ userprofile.user }}</p>
	<p>Email: {{ userprofile.user.email }}</p>
</div></div>
{% endblock %}