{% extends "base.html" %}
{% load mytags %}

{% block title %}- {{ userprofile }}{% endblock %}

{% block content %}
<h3>Jobshaker Profile</h3>
<div class="whitebox profile">
	<!--
	{% if userprofile.sex = 'F' %}
		<img src="/static/images/shutterstock_female.jpg" align="left" hspace="20" />
	{% endif %}
	{% if userprofile.sex = 'M' %}
		<img src="/static/images/shutterstock_male.jpg" align="left" hspace="20" />
	{% endif %}
	-->
	<p>
		<i>Nickname</i>
		<b>{{ userprofile }}</b>
	</p><p>
		<i>Profession</i>
		<b>{{ userprofile.profession }}</b>
	</p><p>
		<i>Details</i>
		{{ location }}
	</p><p>
		{% if age %}
			{{ age }} years, 
		{% endif %}
		{{ userprofile.get_sex_display }}
	</p><p>
		<i>Languages</i>
		{{ languages }}
	</p><p>
		<i>About me</i>
		{{ userprofile.aboutme }}
	</p>

	<p style="text-align:right">
		<a href="/" class="button small">Back to Board</a>
	{% if my_profile %}
		<a href="/accounts/edit/" class="button edit">Edit Profile</a>
	{% endif %}
	</p>

</div>
{% endblock %}
