{% extends "base.html" %}
{% load url from future %}

{% block head %}
  {{ form.media }}
  <link href="/static/form.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="whitebox">
<form method="post" action="{% url 'posts.views.edit_profile' %}">{% csrf_token %}
<fieldset id="profileform">
	<legend>My profile</legend>
	<p></p>

	{% if form.errors %}
	<p class="error">There were errors in your profile, please have a look below and correct them.</p>
	{% endif %}

	<p>
		{{ form.profession.errors }}
		<label for="id_profession">Occupation: 
		<span class="required">*</span></label>
		{{ form.profession }}
	</p><p>
		{{ form.postcode.errors }}
		<label for="id_postcode">Location:  
		<span class="required">*</span></label>
		{{ form.postcode }}
	</p>
	<div class="language">
		<b>Languages:</b>
		<p>
			<label for="id_english">English:</label>
			{{ form.english }}
		</p><p>	
			<label for="id_german">German:</label>
			{{ form.german }}
		</p><p>
			<label for="id_french">French:</label>
			{{ form.french }}
		</p><p>
			<label for="id_italian">Italian:</label>
			{{ form.italian }}
		</p><p>
			{{ form.other_lang.errors }}
			<label for="id_other_lang">Other:</label>
			{{ form.other_lang }}
		</p>
	</div>
	<p>
		<label for="id_profession">Interests: 
		<span class="required">*</span></label>
		<select multiple="multiple">
		<option>Open Humanities</option>
		<option>Open Science</option>
		<option>Open Politics</option>
		<option>Open Education</option>
		<option>Open Economics</option>
		</select>
	</p>
	<p class="note">
		Write a few words to make an impression with your profile,
		but do not share any personal identity details:
	</p><p>
		{{ form.aboutme.errors }}
		<label for="id_aboutme">About me:</label> 
		{{ form.aboutme }}
	</p>
	<center>
		<input class="btnCancel" type="reset" name="cancel" value="Cancel">
		<input class="btnSend" type="submit" name="submit" value="Save ">
	</center>
</fieldset>
</form>

</div>
{% endblock %}
