{% extends "base.html" %}
{% load url from future %}

{% block head %}
  {{ form.media }}
  <link href="/static/form.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="whitebox">
<form method="post" action="{% url 'posts.views.edit_profile' %}">{% csrf_token %}
<fieldset id="profileform">
	<legend>My profile</legend>
	<p></p>

	{% if form.errors %}
	<p class="error">There were errors in your profile, please have a look below and correct them.</p>
	{% endif %}

	<p>
		{{ form.profession.errors }}
		<label for="id_profession">Profession: 
		<span class="required">*</span></label>
		{{ form.profession }}
	</p><p>
		{{ form.postcode.errors }}
		<label for="id_postcode">Postcode:  
		<span class="required">*</span></label>
		{{ form.postcode }}
	</p>
	<div class="language">
		<b>Languages:</b>
		<p>	
			<label for="id_german">German:</label>
			{{ form.german }}
		</p><p>
			<label for="id_french">French:</label>
			{{ form.french }}
		</p><p>
			<label for="id_italian">Italian:</label>
			{{ form.italian }}
		</p><p>
			<label for="id_english">English:</label>
			{{ form.english }}
		</p><p>
			{{ form.other_lang.errors }}
			<label for="id_other_lang">Other:</label>
			{{ form.other_lang }}
		</p>
	</div>
	<p>
		{{ form.birth_year.errors }}
		<label for="id_birth_year">Year of birth:</label>
		{{ form.birth_year }}
	</p><p>
		{{ form.sex.errors }}
		<label for="id_sex">Sex:</label>
		{{ form.sex }}
	</p><p>
		{{ form.aboutme.errors }}
		<label for="id_aboutme">About myself:</label> 
		<textarea id="id_aboutme" rows="10" cols="40" name="aboutme"></textarea>
	</p>
	<center>
		<input class="btnCancel" type="reset" name="cancel" value="Cancel">
		<input class="btnSend" type="submit" name="submit" value="Save ">
	</center>
</fieldset>
</form>

</div>
{% endblock %}
