{% extends "base.html" %}
{% load mytags %}

{% block title %}- My Posts{% endblock %}

{% block content %}

<div class="twocolumn">
<h3>My Posts</h3>

<a href="/posts/new" class="newpost button" style="left:4px">New Post +</a>
	<br /><br />

{% for p in myposts %}
<div class="whitebox">
	<date>{{ p.pub_date }}</date><br>
	<a href="/posts/{{ p.id }}" class="intent">{{ p.intent }}</a>
	<ul class="replies">
	{% for reply in replies %}
		{% ifequal p.id reply.post.id %}
			<li>
				{% if reply.like %}
					<b>:)</b> 
				{% endif %}
				{% if reply.flag %}
					<b>:(</b> 
				{% endif %}
				<a href="/userprofile/{{ reply.user.id }}">{{ reply.user }}</a>:
				"{{ reply.comment }}"
			</li>
		{% endifequal %}
	{% endfor %}
	</ul>
</div>
{% endfor %}
{% if myposts|length == 0 %}
	<p class="notice">You haven't posted anything, why don't you 
	<a href="/posts/new">do that now</a>?</p>
{% endif %}
</div>

<div class="twocolumn">
<h3>My Replies</h3>

	<br /><br />

{% for p in replyposts %}
<div class="whitebox">
	<date>{{ p.pub_date }}</date><br>
	<a href="/userprofile/{{ p.user.id }}/">
	<b>{{ p.user }}</b></a> 
	is
	<a href="/posts/{{ p.id }}" class="intent">{{ p.intent }}</a>
	<ul class="replies">
	{% for reply in myreplies %}
		{% ifequal p.id reply.post.id %}
			<li>
				{% if reply.like %}
					<b>:)</b> 
				{% endif %}
				{% if reply.flag %}
					<b>:(</b> 
				{% endif %}
				<a href="/userprofile/{{ reply.user.id }}">{{ reply.user }}</a>:
				"{{ reply.comment }}"
			</li>
		{% endifequal %}
	{% endfor %}
	</ul>
</div>
{% endfor %}
{% if myreplies|length == 0 %}
	<p class="notice">You haven't replied yet, why not
	<a href="/">explore some more</a>?</p>
{% endif %}
</div>

{% endblock %}
