{% extends "base.html" %}
{% load mytags %}

{% block title %}- Links{% endblock %}

{% block content %}
<h3>Useful links</h3>

<div class="whitebox doc">

<h4>Jobsharing</h4>

<p><a href="http://www.forbes.com/sites/work-in-progress/2011/10/24/how-job-sharing-may-be-the-secret-to-work-life-balance/" target="_blank">An article in Forbes magazine</a> from October 2011 discussing the advantages and challenges of jobsharing.</p>

<p><a href="http://julietdupreez.hubpages.com/hub/A-Job-Share-Proposal-Your-Employer-Cant-Refuse" target="_blank">Ideas and suggestions</a> on how to convince your employer to allow jobsharing.</p>

<p><a href="http://www.entrepreneur.com/humanresources/employeemanagementcolumnistdavidjavitch/article170244.html#ixzz0JPCmZEYt&C
" target="_blank">An article from Enterpreneur from 2009</a> describing the pros and cons of jobsharing from the employer’s perspective.</p>

<p><a href="http://www.job-sharer.ch/" target="_blank">Detailed information about the legal and organisational implications</a> of jobsharing in Switzerland (in German only).</p>

<h4>Balancing career and family</h4>

<p><a href="http://www.und-online.ch/" target="_blank">The association UND supports couples in Switzerland</a> who want to share professional and family engagements. They organize workshops and coaching and publish articles and leaflets (in German and French only).</p>

<h4>Building a Business</h4>

<p><a href="http://www.wordpress.com/" target="_blank">WordPress.com</a> by <a href="http://www.automattic.com/" target="_blank">Automattic</a> is a great way to get your first web site started using the world's most popular content management system.</p>

</div>
{% endblock %}
