{% extends "base.html" %}

{% block title %}- {{ post.intent }}{% endblock %}

{% block content %}
<h3>Jobshake detail</h3>
<div class="box"><div class="whitebox">
	<date>{{ post.pub_date }}</date> 
	A <b>{{ post.user.profession.name }}</b> is
	{{ post.intent }}
	{% if place %}
		in <b>{{ where }}</b> 
	{% endif %}
<hr>
	<p>{{ post.comment }}</p>
<hr>
	<img src="http://0.gravatar.com/avatar/00e1dd94340133b9daf6e291fb766266?s=100&r=pg&d=mm" align="left" hspace="10">
	Posted by <a href="/accounts/profile/{{ post.user.id }}">{{ post.user }}</a><br>
	{{ post.user.profession }} in 
	{% if place %}
		in <b>{{ place }}</b> 
	{% endif %}
</div></div>
{% endblock %}