{% extends "base.html" %}
{% load mytags %}

{% block title %}- {{ post.intent }}{% endblock %}

{% block content %}
<h3>Jobshake detail</h3>
<div class="whitebox">
	<date>{{ post.pub_date }}</date><br>
	{% if my_post %}
	<p>
		<a href="/posts/{{ post.id }}/edit" class="edit button">Edit my post</a>
	</p>
	{% endif %}
	<a href="/userprofile/{{ post.user.id }}">{{ post.user }}</a>,
	<b>{{ post.user.profession }}</b> is
	{{ post.intent }}
	{% if where %}
		in <b>{{ where }}</b> 
	{% endif %}
<hr>
		<p>{{ post.comment }}</p>
	{% if not my_post %}
		<a href="/posts/{{ post.id }}/reply" class="reply button">Reply</a>
	{% endif %}
	<!--<ul class="replies">
	{% for reply in replies %}
		<li>
			{% if reply.like %}
				<b>:)</b> 
			{% endif %}
			{% if reply.flag %}
				<b>:(</b> 
			{% endif %}
			<a href="/userprofile/{{ reply.user.id }}">{{ reply.user }}</a>:
			"{{ reply.comment }}"
		</li>
	{% endfor %}
	</ul>-->
<hr>
	<span style="float:left">
	{% show_gravatar post.user.user.email 64 %}
	</span>
	
	Posted by <a href="/userprofile/{{ post.user.id }}">{{ post.user }}</a><br>
	{{ post.user.profession }}
	{% if place %}
		in <b>{{ place }}</b> 
	{% endif %}
</div>
{% endblock %}
