{% extends "base.html" %}
{% load mytags %}

{% block title %}- {{ post.intent }}{% endblock %}

{% block content %}
<h3>Post Detail</h3>
<div class="whitebox postdetail intent{{ post.intent.id }}">
	<span style="float:left">
	{% show_fruvatar post.user.id 64 %}
	</span>
	
	<a href="/userprofile/{{ post.user.id }}">{{ post.user }}</a>,
	<b>{{ post.user.profession }}</b>,
	is
	{{ post.intent }}
	{% if where %}
		in <b>{{ where }}</b> 
	{% endif %}
	
	<p>
	{% if post.valid_from %}
		From <b>{{ post.valid_from }}</b> 
	{% endif %}
	{% if post.valid_until %}
		until <b>{{ post.valid_until }}</b> 
	{% endif %}
	</p>

<div class="postcomment">
	<p>{{ post.comment }}</p>
	
	{% if post.tags.all|length > 0  %}
	<ul class="tags">Keywords: 
			{% for tag in post.tags.all %}
			<li>{{ tag }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	
	<table class="replies">
	{% for reply in replies %}
		<tr>
			<td>
			{{ reply.pub_date|date:"d.m.Y" }}
			<a href="/userprofile/{{ reply.user.id }}">{{ reply.user }}</a>
			</td>
			<td width="60%">{{ reply.comment }}</td>
			{% if my_post or reply.user.id = user_id %}
				<td style="background:#fff">
				<a href="/posts/{{ post.id }}/reply/{{ reply.id }}/delete" class="btnDelete button small">&nbsp;X&nbsp;</a>
				</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
	
	{% if not my_post or replies|length > 0 %}
		<a href="/posts/{{ post.id }}/reply" class="reply button">Reply</a>
	{% endif %}
</div>
	
	<p>Posted on <date>{{ post.pub_date }}</date></p>
	
	<p style="text-align:right">
		<a href="/" class="button small">Back to Board</a>
	{% if my_post %}
		<a href="/posts/{{ post.id }}/edit" class="edit button">Edit my post</a>
	{% endif %}
	</p>
	
</div>
{% endblock %}
