{% extends "base.html" %}

{% block title %}- post{% endblock %}

{% block head %}
  {{ form.media }}
  <link href="/static/form.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="whitebox">
	<form action="" method="post">{% csrf_token %}
	<fieldset id="profileform">
		<legend>Jobshaker Post</legend>

{% if form.errors %}
<p class="error">There were errors in your post, please have a look below and correct them.</p>
{% endif %}
		
		<span><br />Select what you are looking for, and where you want to work<br/><br/></span>		
		<p>
			{{ form.intent.errors }}
			<label for="id_intent">Intent:
			<span class="required">*</span></label>
			{{ form.intent }}
		</p><p>
			{{ form.comment.errors }}
			<label for="id_comment">Describe your plans and the ideal partner:
			<span class="required">*</span></label>
			{{ form.comment }}
		</p><p>
			{{ form.tags.errors }}
			<label for="id_tags">Keywords:
			<span class="required">*</span></label>
			{{ form.tags }}
			<span class="helptext">Separated with comma, ex: design, office, teaching</span>
		</p><p class="helptext2">
			<i>The following fields may be left blank. By default, your post is valid for all of Switzerland, from today, forever. Be more specific depending on your needs:</i>
		</p><p>
			{{ form.location.errors }}
			<label for="id_location">Location:</label> 
			{{ form.location }}
		</p><p>
			{{ form.valid_from.errors }}
			<label for="id_valid_from">Starting date:</label>
			{{ form.valid_from }}
		</p><p>
			{{ form.valid_until.errors }}
			<label for="id_valid_until">End date:</label> 
			{{ form.valid_until }}
		</p>
		<center>
			<input class="btnCancel" type="reset" name="cancel" value="Cancel">
			<input class="btnSend" type="submit" name="submit" value="Save ">
		</center>
		{% if post %}
		<center><br/>
			<a href="/posts/{{ post.id }}/delete"">Delete this post</a>
		</center>
		{% endif %}
	</fieldset>
	</form>
</div>
{% endblock %}
