{% extends "base.html" %}

{% block title %}- {{ post.intent }}{% endblock %}

{% block head %}
	{{ form.media }}
  <link href="/static/form.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<h3>Reply to a post</h3>
<div class="whitebox">
	<date>{{ post.pub_date }}</date> 
	<b>{{ post.user }}</b> is
	{{ post.intent }}
	{% if where %}
		in <b>{{ where }}</b> 
	{% endif %}
<hr>
	<p>{{ post.comment }}</p>
<hr>
	<form action="" method="post">{% csrf_token %}
	<fieldset id="profileform">
		<textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
		<input class="btnSend" type="submit" name="submit" value="Send" style="display:inline;float:none;position:relative;top:-1em">
	</fieldset>
	</form>
</div>
{% endblock %}
