fieldset { 
	padding:0 40px 35px 50px;	
	margin:0;
	border:0px solid transparent;
} 
	
fieldset ul {
	margin:0;
	padding:15px 0 0 0;
	list-style-type: none;
}
form {
	border:0;
  	background-color: #FFF;
	width:400px;
	border-radius: 5px;
	padding:15px 0 0 0;
	margin:0 auto;
	position: relative;
}
fieldset p {
	float:left;
	margin:0 0 12px 0;
	padding:0;
	text-align: left;
	width:400px;		
}

.language li { margin:0 0 0 0;}
.language input { width:auto;}
fieldset label { 
	float:left;
	line-height:167%;
	font-weight:bold;
	width:100px;
	cursor: pointer;
	position:relative;	
}

fieldset input {
	float:left;
	height:20px;
	width: 200px; 	
	border:1px solid #4C332E;
	padding:0;
	background:#FFF;
	border-radius: 2px;
}

input.btnCancel, 
input.btnSend {
	margin: 25px 0 0 0;
	float:left;
	width:85px;
	height:30px;
	font-weight:bold;
	color: #FFF;
	text-align: center;
	padding:0 0 2px 0;
	text-indent:0px;
	border:1px solid #4C332E;
	background-color:#4C332E;
	cursor:pointer;
  	box-shadow: inset 0px 0px 0px;	
}
input.btnSend  {
	float:right;
	margin-right:100px;
	border:1px solid #4C332E;  
	box-shadow:1px 1px 2px #ccc;
	background:#ED581E;
}

fieldset legend {
	margin:0 0 1em -60px;
	padding:7px 20px;
	color:#FFF;
	font-weight:bold;
	font-size:18px;
	border-radius: 5px;
	box-shadow:1px 1px 2px #ccc;
	background-color:#a77;
	float: left;
}	

#id_aboutme {
	width: auto;
	height: 5em;
}