body { background-color:#fff; text-align:center; }

.logo { color:transparent; font-size:0px; 
        background:url(images/logo4.png) no-repeat top center;
        width:262px; height:130px;
        width:100%
        }

.headline { color:#a77; font:12pt verdana,sans-serif; 
            padding-top:0; margin:-10pt 0 0; padding-bottom:10pt; }

.menu { margin:1em 0; height:5em; }

.menu.top { height: 5em; margin: 0 1em; z-index: 1; }

.button span { font-size:12pt; font-weight:normal; }
.button em { font-style:normal; font-weight:bold;}
.button.create { font-size: 16pt; padding: 1em; color:#fff; background:#ED581E; border: 2px solid #4C332E; border-radius: 5px; clear: both}
.button.login  { color:#4C532E; }
.button.about  { color:#000; background:#FFD615; border: 1px solid #4C332E; border-radius: 5px;}
.button.links  { color:#000; background:#F0AF1D; border: 1px solid #4C332E; border-radius: 5px; }
.button.policy { color:#000; background:#E5DCDA; border: 1px solid #4C332E; border-radius: 5px; }
.button.small span { font-size:10pt; padding:2pt; }
.button.newpost { position:absolute; right:4px; background:#f33; color:white; border:2px solid white; }
.button.current { opacity:0.5; border: 2px solid yellow; }

.index > div { margin:2em 0; }

.index { background:#fff url(images/2424445668_8dfd951507_b.jpg) no-repeat bottom; margin:0; padding:1em; border-radius:7pt; }

.index a, .menu a { color:inherit; text-decoration:none; }

.index > div {font:10pt verdana, sans serif; line-height:16pt; color:white; }

.infotext { text-align: left;	padding:1pt 2em; background: #F5ECEA; opacity:0.8; border-radius: 5px; color:black !important; margin:0; }

.signup div {font:10pt verdana,sans-serif; /*color:#4C332E;*/
    width:12em; display: inline-block; vertical-align: top;}
    
.login div {font:8pt verdana, sans-serif; /*color:#4C332E;*/
    width:12em; display: inline-block; vertical-align: middle;}

h3 { font:16pt verdana,sans-serif; color:#4C332E; margin-bottom: 0.3em;
		float: left; margin-bottom: 0.3em; margin-top: -1.8em;}

.twocolumn h3 { float: none; margin-bottom: 0.5em; }

.container { background:#F7E492 url(images/corkboard.jpg) 100% 100%; 
		z-index:2; position:relative; } 

.container, .whitebox { border-radius:10pt; padding:4pt; }

.whitebox { background:#fff; margin:4pt; margin-bottom:8pt; text-align:center; vertical-align:top; display:inline-block; }

.whitebox p, .whitebox ul { text-align:left; }

.container, .container input { font:10pt verdana,sans-serif; line-height:1.5em;}

.twocolumn { width:45%; display:inline-block; vertical-align:top; }

.twocolumn:last-child { border-left: 2px solid white; }

.ui-datepicker { font-size:10pt !important; }

.post { display:inline-block; width:200pt; }
.post a {color:#AB283C; text-decoration: none;}
.post .gravatar { float:left; margin-right:1em; }

/* business partner */
.intent1 { background-color:#cef; border:3px solid #33f; }
/* sharing a job */
.intent2 { background-color:#bfb; border:3px solid #3f3; }
/* project */
.intent3 { background-color:#fe9; border:3px solid #ff3; }

.profile a.edit { float:right; }
.profile img { float:right; }
.profile p { margin-left:1em; }
.profile p i { display:block; color:#999; border-bottom:1px dashed #ddd; }
.profile b { font-size:16pt; font-weight:normal; }

.postdetail p { text-align:center; }
.postdetail p i { display:block; color:#999; border-bottom:1px dashed #ddd; }
.postcomment { background-color:#fff; padding:2em; padding-bottom:4em; 
	border-bottom:1px solid black; border-right:1px solid black; }
.postcomment p { text-align:left; }
.postcomment .reply { float: right; right: -1em; }

.notice { margin:1em; background:#eee; border-radius:10pt; opacity:0.7; }

.doc { padding:0 2em; }

item, tr { background:#fff;
       border:2px solid #4C332E;border-radius:4pt; text-align:left;
       margin:4pt; padding:4pt; text-decoration:none; color:black; }
       
item, item date { display:block; }

th, td { padding:2pt; margin:0; vertical-align:top; border:none; font-size:140%; }
th { background-color:#fe9; text-align:right; }
table input { width:80%; }
