body { background-color:#fff; text-align:center; 
			 font-family: Segoe UI,Arial,sans-serif;}

.logo { /*color:transparent; font-size:0px; 
        background:url(images/logo4.png) no-repeat top center; */
        font-family: Ubuntu; font-size: 60px; margin:0;
        width:262px; height:130px;
        width:100%
        }

.headline { color:#090; font:12pt verdana,sans-serif; 
            padding-top:0; margin:-10pt 0 0; padding-bottom:10pt; }

.menu { margin:1em 0; height:5em; }

.menu.top { height: 5em; margin: 0 1em; z-index: 1; }

.button span { font-size:12pt; font-weight:normal; }
.button em { font-style:normal; font-weight:bold;}
.button.create, .button.login { padding:1em; display: inline-block; clear:none;}
.button.create { background:#9c9; }
.button.login  { color:#4C532E; }
.button.about  { color:#000; background:#FFD615; border: 1px solid #4C332E; border-radius: 5px;}
.button.links  { color:#000; background:#F0AF1D; border: 1px solid #4C332E; border-radius: 5px; }
.button.policy { color:#000; background:#E5DCDA; border: 1px solid #4C332E; border-radius: 5px; }
.button.small span { font-size:10pt; padding:2pt; }
.button.newpost { position:absolute; right:4px; width:8em; background:#f33; color:white; border:2px solid white; }
.button.current { opacity:0.5; border: 2px solid yellow; }

.index > div { margin:2em 0; }

.index { background:#fff url(images/okcon1.jpg) no-repeat; 
    background-position: 0 -100px;
    background-size:100%; margin:0; padding:1em; border-radius:7pt; }

.index a, .menu a { color:inherit; text-decoration:none; }

.index > div {font:10pt verdana, sans serif; line-height:16pt; color:white; }

.messages { background:yellow; color:#4b2;
    font-weight: bold; list-style: none;
    margin: -2em 0 2.5em; padding: 3pt; }

.infotext { text-align: left;	padding:1pt 2em; background: #F5ECEA; opacity:0.8; border-radius: 5px; color:black !important; margin:0; }

.signup div {font:10pt verdana,sans-serif;
    display: inline-block; vertical-align: top;}
    
.login div {font:8pt verdana, sans-serif; /*color:#4C332E;*/
    width:12em; display: inline-block; vertical-align: middle;}
    
.errorlist { list-style-type:none; margin:0; padding:0 0 1em; color:#900; }

h3 { font:16pt verdana,sans-serif; color:#4C332E; margin-bottom: 0.3em;
		float: left; margin-bottom: 0.3em; margin-top: -1.8em;}

#jobsearch { float: right; margin-top: -3em; }

.container { background:#F7E492 url(images/corkboard.jpg); 
		z-index:2; position:relative; } 

.container, .whitebox { border-radius:10pt; padding:4pt; }

.whitebox { background:#fff; margin:4pt; margin-bottom:8pt; text-align:center; vertical-align:top; display:inline-block; }

.whitebox p, .whitebox ul { text-align:left; }

.container, .container input { font:10pt verdana,sans-serif; line-height:1.5em;}

.twocolumn { width:45%; display:inline-block; vertical-align:top; }
.twocolumn:first-child { border-right: 2px dashed white; }
.twocolumn h3 { float: none; margin-bottom: 0.5em; }
.twocolumn .whitebox ul { list-style:none; padding:0; }
.twocolumn .intent { text-decoration:none; border-bottom:1px solid blue; font-size:110% }

.ui-datepicker { font-size:10pt !important; }

.post { width:200pt; height:6.5em; 
	display:inline-block; vertical-align:top; overflow:hidden; }
.post a {color:#AB283C; text-decoration: none;}
.post .gravatar { float:left; margin-right:1em; }
.post date { opacity:0.7; }

/* business partner */
.intent1 { background-color:#cef; border:3px solid #33f; }
/* sharing a job */
.intent2 { background-color:#bfb; border:3px solid #3f3; }
/* project */
.intent3 { background-color:#fe9; border:3px solid #ff3; }

.profile img { float:right; }
.profile p { margin-left:1em; }
.profile p i { display:block; color:#999; border-bottom:1px dashed #ddd; }
.profile b { font-size:16pt; font-weight:normal; }

.postdetail p { text-align:center; }
.postdetail p i { display:block; color:#999; border-bottom:1px dashed #ddd; }

.replies { width:100%; margin:1em 0; }
.replies td { font-size:88%; }
.replies tr { background:#e3e3e3; }
.replies tr:nth-child(odd) { background:#f0f0f0; }

.postcomment { background-color:#fff; 
	min-height: 10em; padding: 1em 2em;
	border-bottom:1px solid black; border-right:1px solid black; }
.postcomment p { text-align:left; }

.tags { list-style:none; display:inline; color:#999; }
.tags li { list-style:none; display:inline; 
	background:#FFC; color:#000; 
	border-radius:8pt; padding: 2pt 4pt;}

.notice { margin:1em; padding:1pt; 
	background:#eee; border-radius:10pt; opacity:0.7; }

.note { margin:0; width:30em; }

.doc { padding:0 2em; }

.feedback {color: black; background: yellow; padding: 1em; font-weight: bold;}
.fancybeta { position:absolute; top:0px; right:0px; }

item, tr { background:#fff;
       border:2px solid #4C332E;border-radius:4pt; text-align:left;
       margin:4pt; padding:4pt; text-decoration:none; color:black; }
       
item, item date { display:block; }

th, td { padding:2pt; margin:0; vertical-align:top; border:none; font-size:140%; }
th { background-color:#fe9; text-align:right; }
table input { width:80%; }
